html,
body {
  margin: 0;
  height: 100%;
  min-height: 100%;
  width: 100%;
  background: #212121;
}

*:focus {
  outline: none;
}

#app-container {
  display: block;
  position: relative;
  height: 100%;
  font-family: Helvetica;
}

#audio-level {
  display: block;
  position: absolute;
  left: 0;
  right: 0;
  margin: 0 auto;
  z-index: 1;
  height: 2%;
  width: 100%;
  top: 0;
}

#video-canvas {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  margin: 0 auto;
  height: 100%;
}

@media only screen and (-webkit-min-device-pixel-ratio: 2) and (orientation: portrait) {
  #video-canvas {
    width: 100%;
    height: auto;
  }
}

#temp-humidity {
  color: #fff;
  position: absolute;
  z-index: 1;
  left: 3%;
  bottom: 2em;
}

.app-icon {
  cursor: pointer;
  width: 3em;
  height: 3em;
  padding: 0;
  background: none;
  border: none;
}

.app-icon svg {
  display: block;
  width: 100%;
  height: 100%;
  fill: #fff;
}

#fullscreen-button {
  position: absolute;
  z-index: 1;
  right: 3%;
  bottom: 2em;
}

#volume {
  position: absolute;
  z-index: 1;
  right: 3%;
  top: 2em;
}

#volume > * {
  display: block;
  margin: auto;
}

#volume-value {
  text-align: center;
  height: auto;
  width: 1em;
  padding: 1em 0;
  font-size: 2em;
  color: #fff;
}
